

.container{width:auto;}

.containerText{
    right:10%;
    font-size: 1.5em;
}

.flatgrid{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}

.about > img{
    height:30vh;
}

.cards > *{
    width:100vw;
    height:26vh;
}
.text{
    width:100ch;
    max-width: none;
}

#forms{
    
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.about{
    width:100%;
    margin-top: 2%;
}

#reminder{display: none;}